
<div style="background-color: #e4e5e6; height:100%;">

<div id="viewtab" style="text-align: center;margin: 10px 0px 0px 25%;display: inline-block;">
  <h3>Welcome to Vinayaka Fabric</h3>
</div>
<div style="margin-left:8%;display:inline-block">
  <i class="fas fa-user"></i>
  <span style="margin-right: 10px; color:#0f5477;font-weight: bold;"><%= currentuser %></span>
</div>

<div> <img src="/images/vinayakaimg.png" alt="Avatar" height="150px" width="150px" style="margin:20px 0px 0px 50rem;border-radius: 100px;"/></div>
<!--<div class="cardimg">
  <img src="/images/Cardimg.gif" alt="Avatar" width="100%">
  <div class="imgcontainer">
    <h4><b>Unique Knitting</b></h4> 
    <p>Making materials with grand yarns</p> 
  </div>
</div>-->

<!--<div class="manage-tab" style="margin-left:21rem;">
  <dt>
    <span>Create Orders</span>
  </dt>
  <dd>
    Create new orders, add knit specification, add yarn, delete yarn , view and edit yarn.
    Create new program, view timeline and view yarn returns.
</dd>
  <button class="btn btn-success" style="background: #28576e;"><a href="/api/v1/order/orderlist">Manage Orders</a></button>
</div>

<div class="manage-tab" style="margin-left:3rem;">
  <dt>
    <span>Create Programs</span>
  </dt>
  <dd>
    Create new program, add production rolls, view Production rolls, complete program  .
    Move program to delivery after completion.
  </dd>
  <button class="btn btn-success" style="background: #28576e;"><a  href="/api/v1/order/programlist">Manage Programs</a></button>
</div>


<div class="manage-tab" style="margin-left:2rem;">
  <dt>
    <span>Create Operators</span>
  </dt>
  <dd>
    Create new operator, add operator, view operator details .
    View operator machine mapping based on day/night shift on daily basis.
  </dd>
  <button class="btn btn-success" style="background: #28576e;"><a href="/api/v1/operator/operatorlist">Manage Operators</a></button>
</div>-->


<div class="row">
  <div class="col-3"></div>
<div class="col-3 manage-tab">
  <dt>
    <span>Create Orders</span>
  </dt>
  <dd>
    Create new orders, add knit specification, add yarn, delete yarn , view and edit yarn.
    Create new program, view timeline and view yarn returns.
</dd>
  <button class="btn btn-success" style="background: #28576e;"><a href="/api/v1/order/orderlist">Manage Orders</a></button>
</div>

<div class="col-3  manage-tab">
  <dt>
    <span>Create Programs</span>
  </dt>
  <dd>
    Create new program, add production rolls, view Production rolls, complete program  .
    Move program to delivery after completion.
  </dd>
  <button class="btn btn-success" style="background: #28576e;"><a  href="/api/v1/order/programlist">Manage Programs</a></button>
</div>


<div class="col-3 manage-tab increasedhomesize">
  <dt>
    <span>Create Operators</span>
  </dt>
  <dd>
    Create new operator, add operator, view operator details .
    View operator machine mapping based on day/night shift on daily basis.
  </dd>
  <button class="btn btn-success" style="background: #28576e;"><a href="/api/v1/operator/operatorlist">Manage Operators</a></button>
</div>
</div>


<div style="color:#73818f;padding:100px 0px 30px 180px;text-align:center;">
  <p>Copyright &#169 2022 vinayaka fabrics Pvt Ltd.</p>
  <h6>Developed by Ajeeth</h6>
</div>

</div>