<div id="viewtab">



    <br />


    <pre style="text-align: center;font-weight: bold;">
    <i class="fas fa-exclamation-triangle" style="color:#ffc107; font-size: 40px;"></i> 

     Note: The clean data function will 
     delete all the data of the orders, that has 
     been created about 366 days ago. In other words 
     it can delete the previous year records to reboot 
     the application
    </pre>

    <form method="POST" action="/api/v1/order/cleandata">

         <div style="text-align: center;">
          <input type="submit" class="btn  btn-primary" name="" value="Clean data" />
         </div>

    </form>

   

 </div>

</div>
